<div class="container">
  <div class="row">
    <div class="col-md-12 centered">
      <h1 class="page-header">SyncSpin</h1>
      <button class="btn btn-primary" ng-click="createRoom()">Create a Room</button>
      <p>or</p>
      <form ng-submit="joinRoom()">
        <input type="text" ng-model="text" name="groupName" />
        <!--<button><input type="submit" id="submit" value="Join Room" /></button>-->
        <button type = "submit" id = "submit" class="btn btn-success" ng-click="joinRoom()">Join Room</button>
      </form>
    </div>
  </div>
</div>

