<!--Github fork ribbon-->
<a target="_blank" href="https://github.com/dawsonbotsford/syncspin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Hosting room: {{room.id}} <small><a ng-href="http://www.syncsp.in/{{room.id}}">www.syncsp.in/{{room.id}}</a></small></h1>
    </div>
  </div>
  <div ng-if="room.songs.length == 0">
    <h2>I'm</h2>
    <input id="sentencePlace" placeholder="Place" class="form-control sentence-part" type="text" ng-model="sentence.place" typeahead="place.display for place in options.places | filter:$viewValue | limitTo:8" />
    <h2>and feel like</h2>
    <input id="sentenceActivity" placeholder="Activity" class="form-control sentence-part" type="text" ng-model="sentence.activity" typeahead="activity.display for activity in options.activities | filter:$viewValue | limitTo:8" />
    <h2>with</h2>
    <input id="sentencePeople" placeholder="People" class="form-control sentence-part" type="text" ng-model="sentence.people" typeahead="people.display for people in options.people | filter:$viewValue | limitTo:8" />
    <h2>to</h2>
    <input id="sentenceGenre" placeholder="Genre" class="form-control sentence-part" type="text" ng-model="sentence.genre" typeahead="genre.display for genre in options.genres | filter:$viewValue | limitTo:8" />
    <button class="btn btn-primary" ng-click="generatePlaylist()">Generate Playlist</button>
  </div>
  <div ng-if="room.songs.length != 0">
    <div class="row">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Now Playing: {{playing.name}} by {{playing.artist}}</a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><a>{{seekTime}}</a>
            </li>
            <li><a><i class="fa fa-step-backward"></i></a>
            </li>
            <li ng-if="paused"><a><i class="fa fa-play" ng-click="controls.play()"></i></a>
              <li ng-if="!paused"><a><i class="fa fa-pause" ng-click="controls.pause()"></i></a>
              </li>
              <li><a ng-click="controls.next()"><i class="fa fa-step-forward"></i></a>
              </li>
              <li><a>{{room.count}} listeners</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2 class="page-header song-queue-header">Song Queue</h2>
        <div ng-repeat="song in room.songs | orderBy:'-votes'">
          <div class="row song">
            <div class="col-md-4">
              <img class="album-artwork" ng-src="{{song.artwork}}">
            </div>
            <div class="col-md-6">
              <p class="song-name">{{song.name}}</p>
              <p class="song-artist">{{song.artist}}</p>
            </div>
            <div class="col-md-2 votes">
              <p class="votes-count">{{song.votes}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div id="vis"></div>
      </div>
    </div>
  </div>
</div>
