<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Hosting room: {{room.id}} <small><a ng-href="http://syncsp.in/{{room.id}}">http://syncsp.in/{{room.id}}</a></small></h1>
    </div>
  </div>
  <div ng-if="room.songs.length == 0">
    <p>You don't have any songs.</p>
    <h2>I'm</h2>
    <input id="sentencePlace" class="form-control sentence-part" type="text" ng-model="sentence.place" typeahead="place for place in options.places" />
    <h2>and feel like</h2>
    <input id="sentenceActivity" class="form-control sentence-part" type="text" ng-model="sentence.activity" typeahead="activity for activity in options.activities" />
    <h2>with</h2>
    <input id="sentencePeople" class="form-control sentence-part" type="text" ng-model="sentence.people" typeahead="people for people in options.people" />
    <h2>to</h2>
    <input id="sentenceGenre" class="form-control sentence-part" type="text" ng-model="sentence.genre" typeahead="genre for genre in options.genres" />
  </div>
  <div ng-if="room.songs.length != 0">
    <div class="row">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Now Playing: Bonfire by Childish Gambino</a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><a>1:58 / 2:06</a>
            </li>
            <li><a><i class="fa fa-step-backward"></i></a>
            </li>
            <li><a><i class="fa fa-play"></i></a>
            </li>
            <li><a><i class="fa fa-step-forward"></i></a>
            </li>
            <li><a>{{room.count}} listeners</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h2 class="page-header song-queue-header">Song Queue</h2>
        <div ng-repeat="song in room.songs | orderBy:'-votes'">
          <div class="row song">
            <div class="col-md-4">
              <img class="album-artwork" ng-src="{{song.artwork}}">
            </div>
            <div class="col-md-6">
              <p class="song-name">{{song.name}}</p>
              <p class="song-artist">{{song.artist}}</p>
            </div>
            <div class="col-md-2 votes">
              <p class="votes-count">{{song.votes}}</p>
            </div>
          </div>
        </div>
        <div id="dotViz" class="col-md-9">
        </div>
      </div>
    </div>
  </div>
</div>
