<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Hosting room: {{room.id}} <small><a ng-href="http://syncsp.in/{{room.id}}">http://syncsp.in/{{room.id}}</a></small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div ng-repeat="song in room.songs | orderBy:'-votes'">
        <div class="row song">
          <div class="col-md-4">
            <img class="album-artwork" ng-src="{{song.artwork}}">
          </div>
          <div class="col-md-6">
            <p class="song-name">{{song.name}}</p>
            <p class="song-artist">{{song.artist}}</p>
          </div>
          <div class="col-md-2 votes">
            <p class="votes-count">{{song.votes}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      Asdf
    </div>
  </div>
</div>
