<div class="container">
  <div ng-repeat="song in songs | orderBy:'-votes'">
    <div class="row song">
      <div class="col-xs-3 col-md-1">
        <img class="album-artwork" ng-src="{{song.artwork}}">
      </div>
      <div class="col-xs-6 col-md-3">
        <p class="song-name">{{song.name}}</p>
        <p class="song-artist">{{song.artist}}</p>
      </div>
      <div class="col-xs-3 votes">
        <div class="inline">
          <i class="fa fa-sort-asc up-arrow" ng-class="(song.vote == 1) ? 'up-arrow-selected' : ''" ng-click="upvoteSong(song)"></i>
        </div>
        <div class="inline">
          <p class="votes-count">{{song.votes}}</p>
        </div>
        <div class="inline-last">
          <i class="fa fa-sort-desc down-arrow" ng-class="(song.vote == -1) ? 'down-arrow-selected' : ''" ng-click="downvoteSong(song)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
